<div id= "home">
<p id = "hi"> &#x27b3 Hi, {{username}} &#982</p>


<p id = "done"> You have completed <span style="color:#13D0FE"> {{done}} </span> flashcards already </p>

<p id = "remain" style="color:red"> {{left}} remaining </p>

<p id = "start"><a href = "flashcard" > Let's Start </a> </p>

</div>