<!DOCTYPE html>
<html>
  <head>
    <title>Applied Internet Technology</title>
     <link rel='stylesheet'  href='/stylesheets/style.css' />
	 <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
     <link rel='stylesheet' href='/stylesheets/csshake.min.css' />
  </head>
  <body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand">ZT</a>
	    <ul class="nav">
	      <li><a href="home">Home</a></li>
	      <li><a href="flashcard">Flashcards</a></li>
	      <li><a href="marked">Marked</a></li>
	      <li><a href = "add">Add Flashcards</a></li>
	      <li id="logout"><a href = "logout">Log out</a></li>
	    </ul>
	  </div>
	</div>	
	<br>
	<br>
	 
	{{{body}}}   
  </body>
</html>


