<!DOCTYPE html>
<html>
  <head>
    <title>Applied Internet Technology</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul id = "menu">
	    <li> <a href = "home" >     Home </a></li>
	    <li> <a href = "flashcard"> Flashcards </a></li>
	    <li> <a href = "marked">    Marked</a></li>
	    <li> <a href = "add">       Add Flashcards</a></li>
	    <li id="logout"> <a href = "logout">Log out</a></li>
	</ul>
	
	<br>
	<br>
	 
	{{{body}}}   
  </body>
</html>
