<h1>Applied Internet Technology <br> Flash Cards</h1>

{{#each message}}
   <div class="alert alert-danger" id="msg">{{this}}</div> 
{{/each}}


<form method="POST" action="/login" id ="sign" class="form-horizontal">
  <div class="inset">
  <p>
    <label for="email">EMAIL</label>
    <input type="text" name="email">
  </p>
  <p>
	  <label for="password">PASSWORD</label>
	  <input type="password" name="password"> 
  </p>
  </div>
  <p class="p-container">
	  <span><a href = "signup">Signup</a></span>
	  <input type="submit" name="go" id="go" value="Log in">
  </p>
</form>

